[2015-11-09 10:41] melihmucuk opened #3 "I can't setState after getting object from storage"
Hi, this code can't update state, how can I change state ?
<pre><code>store.get('user').then((user) => {
  this.setState({user: user});
});</code></pre>

[2015-11-09 11:50] jadsonlourenco commented on #3
You can test with **self**:
[code]

[2015-11-09 11:55] melihmucuk commented on #3
nothing changed

[2015-11-09 19:24] jasonmerino commented on #3
@melihmucuk Can you verify that the `.then` function is being invoked. Since `.get` returns a promise there could be an error being thrown, in which case adding a `.catch` function might help you debug this.

[code]

The library doesn't do anything to bind or change context and it should just rely on the ES6 arrow functions [lack of context](http://blog.getify.com/arrow-this/).

Beyond this, I'd n

[2015-11-09 19:37] jadsonlourenco commented on #3
@melihmucuk I think you want to save an object to the new "state" then in that case your "state" needs to be an object:
[code]
So, for me works using **this** or **self**, I think the problem is that **"{}"**.

[2015-11-19 17:56] jasonmerino commented on #3
@melihmucuk I'm going to close this issue for now. If this is still giving you trouble and you can provide a bit larger example of the code I would be happy to revisit it and try and help you get this figured out.

[2015-11-19 17:56] #3 closed

[2015-11-28 00:33] GantMan opened #4 "RN simple store is breaking my mocha tests"
Whenever I test an object that has RN simple store I get the following:

[code]
here's a screencap, if that helps at all...

![image](https://cloud.githubusercontent.com/assets/997157/11449286/0bfe891a-9535-11e5-87f2-eb161d3eeb39.png)

I'm using mocha and chai.

[2015-11-30 16:12] jasonmerino commented on #4
Hey! Sorry about the late reply. Which version of Babel are you using?

[2015-11-30 16:32] GantMan commented on #4
Babel 6 - Technically "babel": "^6.0.15",

[2015-11-30 16:54] jasonmerino commented on #4
According to this [Babel page](https://babeljs.io/docs/setup/#mocha)

Have you

[code]

And added

[code]

to your `.babelrc` file?

[2015-12-01 18:29] GantMan commented on #4
sorry, I must be missing something.  Bringing in es2015 causes a new error.
![image](https://cloud.githubusercontent.com/assets/997157/11507152/504ddd4c-9818-11e5-81f2-c0eb6cef14ec.png)

[2015-12-01 21:28] jasonmerino commented on #4
Okay, I've attempted a change on my side. Can you change your `package.json` to install the babel6 branch from Github directly, rather than NPM. Test that out and see if it works.

The entry for `dependencies.react-native-simple-store` in your `package.json` should look like this:

[code]

After making that change run:

[code]

Let me know if that fixes your issue.

[2015-12-01 23:52] GantMan commented on #4
I got further, but now I'm stuck at this:
![image](https://cloud.githubusercontent.com/assets/997157/11517426/fe0e1146-984e-11e5-9819-29b1878f834d.png)

Which appears to be a real sticking point: http://stackoverflow.com/questions/32212201/get-mocha-working-with-react-native-errors-w-requiring-addons

It's so funny, my tests run fine until I import the wrong library.   I'm really starting to wonde

[2015-12-01 23:56] jasonmerino commented on #4
Interesting. Yeah, mocking these out may work. Good luck. Let me know if you get it working without any more changes on my side.

[2016-01-04 18:54] jasonmerino commented on #4
@GantMan I'm going to close this one out. Please comment to reopen it if there is something I can do to help out with this.

[2016-01-12 09:37] mauron85 opened #5 "Why update and save"
Why there is update and save methods? They basically do the same thing in key value db.

[2016-01-12 22:21] jasonmerino commented on #5
There's a slight difference between `.save` and `.update`. Save just saves whatever you give it. If there is something there already it will overwrite that value with the given one. Update will pull whatever value is there and if it's an object it will merge the two objects.

Minor difference, but I favored the different function over passing a flag to `.save`.

[2016-01-29 17:28] jasonmerino commented on #5
Closing this out as it's not really an issue, just a question. @mauron85 if you have any more questions you can hit me up on Twtiter [@jasonmerino](http://twitter.com/jasonmerino) or Discord.

[2016-01-29 17:28] #5 closed

[2016-02-10 04:28] GantMan commented on #4
@jasonmerino - your branch does at least fix the babel issue.

I suggest you merge it.   I'm still fighting to get other testing features working.  But I didn't want this result to go to waste.

[2016-02-10 15:36] GantMan commented on #4
ok got past my issues, but 100% depending on your babel branch.  Please merge that to master :)

cheers!

[2016-02-17 16:22] GantMan commented on #4
@jasonmerino - please add this to master.   I'm 100% working on the branch and it's good to go.

[2016-02-23 16:18] jasonmerino commented on #4
@GantMan sorry about not getting back to you earlier. I've learned a little more about how babel interacts with code recently and I'd like to attempt to fix this one a different way. I'll reopen this issue. I'd love your help trying to test this out to get it fixed with babel and the new Ecmascript syntax. I'll probably be able to get to some fixes this week sometime.

[2016-02-23 22:33] GantMan commented on #4
happy to help however I can

[2016-03-01 05:16] mihir-harbinger opened #6 "[Android] Please explain how this works"
I did something like this-

Inside signin component:
`store.save('credentials', {username: this.state.username, password: this.state.password});`

Inside home component:

[code]
it is returning 3 objects-

[code]

Why is get() returning 3 objects? Is there anything wrong with the usage? Thank you in advance.

[2016-03-01 17:44] jasonmerino commented on #6
That's strange. Looks like you are using it correctly from what code you pasted above. Can you throw together a bare bones repo that reproduces the issue and push it up to Github?

[2016-03-06 19:01] tomauty commented on #4
+1

[2016-03-22 15:31] GantMan commented on #4
any updates?  I'm still locked to your branch.

[2016-03-22 18:45] jasonmerino commented on #4
@GantMan sorry about the delay here. It's turned into a bit more of a change than I thought. Ends up I'm going to be releasing a transpiled version of the package over NPM which will basically amount to what you're working off in that other branch I set up. Bear with me for a bit and I'll let you know when the new version is out.

[2016-03-24 20:40] jasonmerino commented on #6
@mihir-harbinger I'm going to be closing this out. If you are still having issues with it ping back and I'll reopen to help you debug it and find a fix.

[2016-03-24 20:40] #6 closed

[2016-03-24 20:43] jasonmerino opened #7 "Add multi-get"
Sometimes getting two values from the simple store would be nice as a convenience method without having to call `Promise.all([store.get(KEY_ONE), store.get(KEY_TWO)])`.

[2016-04-18 18:07] jasonmerino commented on #4
@GantMan once again I must apologize for not getting this out earlier... But! I think I have a fix in master for what you were seeing. When you have a moment can you install the version from master and make sure that it doesn't break your tests?

[code]

[2016-05-03 22:27] jasonmerino commented on #4
@GantMan I'm going to close this out for now. I've published version 1.0.1 which is standard ES5 stuff.

Comment back if you still have trouble after upgrading to the newest version and I'll re-open this and get back to work. :)

[2016-05-03 22:27] #4 closed

[2016-05-10 15:57] GantMan commented on #4
Sorry for the delay.   Switched from branch to master and everything worked!  Cheers!

[2016-05-10 16:00] jasonmerino commented on #4
No worries! Glad to hear it's working. :)

[2016-07-09 21:27] cbdavide commented on #7
I could do that, If you want...

[2016-07-11 19:56] jasonmerino commented on #7
That would be cool. I was thinking that being able to call `.get()` with an array of strings rather than just a string would be a nice clean way to get multiples. From there I think it would be appropriate to return an array of values where the index of the value in the array would match the index of the key in the array which was passed to `.get()`. Under the hood it would just call `Promise.all(

[2016-07-11 20:47] cbdavide commented on #7
It would be really simple, I'll just have to use the multiGet method of the AsyncStorage, and make a function to merge the key with the store value and return an object, because this method return the responses in this way:
[code]
And I think that the answer would look better like this:
[code]

[2016-07-11 22:33] jasonmerino commented on #7
That's cool. It's been a long while since I've looked at the `AsyncStorage` API. Didn't even remember there was a `multiGet`.

I agree about the `multiGet` response format not being the nicest. But I think I'm more a fan of the `Promise.all` response format where you just get an array and each index of the response is the value for the index of the requested key.

So this

[code]

would return

[c

[2016-07-12 13:56] cbdavide commented on #7
It would look something like this ca66fc3268ba92bb2b72ac5c2c408d3feff8cc9d

[2016-07-12 20:06] jasonmerino commented on #7
I commented on [that commit](https://github.com/jasonmerino/react-native-simple-store/commit/ca66fc3268ba92bb2b72ac5c2c408d3feff8cc9d#commitcomment-18219353) with some more thoughts.

[2016-07-12 20:40] cbdavide commented on #7
What about now ? f8f2f93b978219e0c9be85c031ae0f6f600ea4f9
Should I uncouple the get and the multiGet functionality in helper functions ?

[2016-07-13 17:09] Blueowner commented on #7
If you're still unsure about the implementation, I would go for something like this:

[code]

[2016-07-13 17:59] cbdavide commented on #7
I did think of that, but I don't know if the spread operator is available in react-native

[2016-07-13 23:16] jasonmerino commented on #7
@cbdavide I like what you have for [f8f2f93](https://github.com/jasonmerino/react-native-simple-store/commit/f8f2f93b978219e0c9be85c031ae0f6f600ea4f9). Can you add some tests for the multi-get functionality and create a pull request?

[2016-07-14 15:32] jasonmerino commented on #7
Also, along with the tests we need to update documentation to show that `.get()` accepts a string or array as the key, and then an explanation as to what the different results would be.

[2016-07-14 19:02] cbdavide commented on #7
Ok, don't worry I'm going to do the test first

[2016-07-15 21:31] cbdavide commented on #7
I did this for the test, what do you think ? ddc7fdb885588e296e001f896f95d5e9f26f800d
I've made another changes because I updated jest-cli

[2016-07-18 23:38] jasonmerino commented on #7
I like it. Can you open a pull request with those changes so I can pull it down and check it out?

[2016-07-19 22:43] jasonmerino commented on #7
Resolved by #10

[2016-07-19 22:43] #7 closed

[2016-07-22 12:14] niklasxbr opened #11 "Is it possible to save the HTML Code from an URL?"
Is there a way to save html code of an URL?
So that I can request this HTML-Code from store.get() and to view it in a WebView?

[2016-07-26 03:29] jasonmerino commented on #11
I'm sure there is a way to do that. How is the HTML defined? Separate HTML file? Template literal?

[2016-07-26 22:55] niklasxbr commented on #11
It is just a normal HTML Website, like Google or anything Else.
It contains Images an normal DIV-Elements.

Von meinem iPhone gesendet

[2016-07-26 22:57] niklasxbr commented on #11
It is just a normal HTML Website, like Google or bettet dribbble.com.
It contains Images and normal Elements like DIVs or something like that.

[2016-07-26 23:32] jasonmerino commented on #11
So you are looking to request HTML from a URL from your app and save that to AsyncStorage?

[2016-07-27 09:00] niklasxbr commented on #11
Yes that is right!

[2016-08-03 23:28] Dcl1 opened #13 "How do you check if a key: value already exists on a store?"
nvm solved it.

[2016-08-04 03:23] sbefort commented on #13
LOL thanks for not posting the solution for everyone else.

[2016-08-04 03:56] Dcl1 commented on #13
THANKS SHAUN! I actually realized a closer look at the original example shows how to check whether or not the .get returns a null. I believe. I didn't write anything because I thought it was obvious mistake, but I'll remember for the future.

[2016-08-04 05:21] jasonmerino commented on #13
To check to see if a key has a value associated with it you would need to do something like this.

simpleStore.get('key').then((value) => {
  if (value !== null) {
    // key exists
  } else {
    // key does not exist
  }
});

I'm working on an additional function on the simple store called keys which will get all keys in AsyncStorage but haven't been able to publish it yet. Hopefully soon.

[2016-08-08 15:31] keeleycarrigan opened #14 "Change "update" to a deep merge"
First, really like this little module. It really simplifies interacting with AsyncStorage.

I did notice one thing though. When you do an update it doesn't do a deep merge. This comes into play as soon as any key off your main storage item is an object because Object.assign doesn't do a deep merge. For example if I want to really organize my saved data and have a key for all user info that's separ

[2016-08-08 23:20] jasonmerino commented on #14
Hey @keeleycarrigan! Glad you are enjoying the module. You are definitely correct about the `.update()` function not doing a deep merge. That is something that I had in the back of my mind when I initially wrote this, but never needed a deep merge, so it's been off my radar.

I agree that changing the `Object.assign` to a deep merge would definitely more understandable from a consumer standpoint.

[2016-08-08 23:22] jasonmerino commented on #13
Closing this issue since it's a question. Feel free to continue commenting if more help is needed.

[2016-08-08 23:22] #13 closed

[2016-08-08 23:46] jasonmerino commented on #11
Okay, I just played around with this enough to get it to work. Here's what I came up with.

[code]

[2016-08-08 23:46] jasonmerino commented on #11
Closing this now, but if you have more questions feel free to comment again.

[2016-08-08 23:46] #11 closed

[2016-08-09 00:03] keeleycarrigan commented on #14
Awesome. Sure I'll give it a whirl. Thanks!

Keeley
Sent from my iPhone

[2016-08-18 22:57] jasonmerino commented on #14
This has been resolved by #15

[2016-08-18 22:57] #14 closed

[2016-08-23 13:33] headlessme opened #16 "Update NPM"
Could you publish the latest version to NPM?

[2016-08-24 23:38] jasonmerino commented on #16
Yeah, I'm working on that. Probably have it out by the end of the week.

[2016-08-24 23:38] jasonmerino commented on #16
I've been taking some time to update the tests and add some examples, but the full examples will have to wait until after the new version goes out.

[2016-08-25 00:00] jasonmerino commented on #16
Okay, just released 1.1.0. Adds ability to get multiple keys, save multiple keys, list all keys, and deep merges objects in `.update()`.

[2016-08-25 00:00] #16 closed

[2016-10-06 17:11] dangnelson opened #18 "Add Version Table Support"
I'm working on a standard for displaying version support on React-Native module README files. I would love your feedback: [react-native-version-support-table](https://github.com/dangnelson/react-native-version-support-table)

[2016-10-06 17:15] jasonmerino commented on #18
If you could generate that with a script to pull the information out of the `npm info` for a module and then inject it into the README for the project I would gladly add it as a `prepublish` script.

[2016-10-19 08:36] anttitakalahti opened #19 "get fails when there is no value saved for such key"
this: return JSON.parse(value);

results in this error:
SyntaxError: Unexpected token u in JSON at position 0
    at Object.parse (native)
    at /Users/xxx/xxx/xxx/node_modules/react-native-simple-store/dist/index.js:24:17

when called with a key that has no value in AsyncStorage because the value is undefined and can't be parsed into JSON.

[2016-10-19 14:01] jasonmerino commented on #19
What version of React Native are you using?

[2016-10-27 14:32] toddmetheny opened #20 "store.update retains original store?"
Calling store.update doesn't overwrite all the existing properties does it? If I have 10 properties and call update on a single one...it will just update that one? Even if it is simply an addition (an 11th property?).

Just want to make sure. Running into an issue with store unexpectedly deleting sometimes.

[2016-10-27 23:27] jasonmerino commented on #20
Yeah, that's how it should work. If you have an object with 10 properties and you run update on that with an object with 1 new property the resulting object should have 11 properties.

If you have an example where you can reproduce the oddness that you're seeing I'd be happy to take a look at it.

[2016-11-16 23:35] kevando opened #21 "How would I store an array?"
[code]

Seems to bug out because locations isnt an existing array. Do I initialize it at some point?

[2016-11-16 23:46] jasonmerino commented on #21
Looking into the code it seems as though there is a bad assumption that the value passed to the `update()` function will either be a string or an object. As it stands today `update()` can't handle arrays.

Also, in your example above it looks like you are trying to update an array value which is stored in the `locations` key of the store and replace it with an object?

[2016-11-17 00:16] kevando commented on #21
Sorry about my ignorance. Basically I want to store a new location each time the background location monitor tracks a new location. And to avoid server calls, I'd like to store it locally.

[2016-11-17 00:21] jasonmerino commented on #21
I'm sorry, the bad assumption I was talking about was in my code, not yours. [This line to be specific.](https://github.com/jasonmerino/react-native-simple-store/blob/master/src/index.js#L54)

So since the simple store doesn't currently support calling `update` for keys that contain array values you could do something like this, assuming that you wanted to push the new location onto what was store

[2016-11-17 00:24] jasonmerino commented on #21
Thinking about this it might be better to provide a `store.push()` method for easier updates of array values rather than adding array support to the `store.update()` method.

[2016-12-07 16:42] niksajanjic opened #22 ".save and .update could return key|values they saved/updated"
I suppose we could benefit from returning as _then_ parameter what we just stored using _.save_ and _.update_ if we want to do something else with that data. In case below I want to make sure my data is saved in storage before I can do something else with the data returned from API. Because simple store is Promised based when we want to _.save_ something, our _then_ function doesn't have any param

[2016-12-08 20:43] jasonmerino commented on #22
@niksajanjic I had thought the same thing initially when I was writing this module that the save method could return what you just saved. However, I have been hesitant to do that because that is not how AsyncStorage itself works and I meant this module to be a very minimalistic layer on top of that React Native API.

Another reason for not returning what was saved is that error handling is far tri

[2016-12-08 20:44] jasonmerino commented on #20
Closing this issue for now. If this is still an issue for you feel free to comment again with a code example I can take a look at.

[2016-12-08 20:44] #20 closed

[2016-12-08 20:45] jasonmerino commented on #19
Closing this due to inactivity. If this is still an issue for you please comment again with a small reproduction repo and I'll take a look at the code and see what I can do to help.

[2016-12-08 20:45] #19 closed

[2016-12-08 21:08] niksajanjic commented on #22
This solution isn't going to work in our case because you immediately return resp.user which means next _then_ is called immediately without knowing if _.save_ method was done successfully or not. I need to return promise from store.save to be able to know if we saved data before I can do anything else in the code or if it ended with error to handle it.

On the other hand I do understand all the r

[2016-12-08 21:08] #22 closed

[2016-12-19 14:08] sdebacker opened #23 "I can’t make it work on a real iOS device"
Hello,

Currently I can use this library with the simulator by running react-native run-ios, but when I open the xcode project and run the app on a real device (debug or release), the store doesn’t work anymore. Is there something I’m not aware of ? I’m using react-native 0.39.2.

[2016-12-21 18:49] jasonmerino commented on #23
Hey @sdebacker,

Sorry for the delay in my reply. There is nothing special that you should need to do to get this to work on an actual device. Would you mind trying to use [AsyncStorage](http://facebook.github.io/react-native/releases/0.39/docs/asyncstorage.html#asyncstorage) directly and see if you still have the same problems?

[2016-12-21 21:53] sdebacker commented on #23
I don't know what was wrong, but, now it works. Thanks for your reply.

[2016-12-21 21:53] #23 closed

[2016-12-21 22:18] jasonmerino commented on #23
Glad to hear it. :) Happy coding.

[2017-01-25 16:02] alfonsodev opened #24 "Compatibility with react-native 0.40"
Since [December version](https://github.com/facebook/react-native/releases/tag/v0.40.0)
react-native team introduce a breaking change that affects third party modules.
I'm quoting here the message from the release notes. It would be great if you could upgrade the package 🎉   Thanks !

## iOS native headers moved

This change affects all native modules and application code on iOS that refer to reac

[2017-01-25 18:08] alfonsodev commented on #24
I'm closing this issue,
sorry but this is not needed, this module is just javascript.
I've included it by mistake in a list of dependencies that actually need to move headers.

[2017-01-25 18:08] #24 closed

[2017-01-25 18:10] jasonmerino commented on #24
No worries @alfonsodev. I figured that much, but hadn't had the time to go check it out for myself. Thanks double checking and closing. :)

Have a good one!

[2017-01-30 03:16] jaredtibs opened #25 "How to return stored value in a function."
Hi,

I'm having trouble figuring out how to retrieve a value from a custom function that accesses the store. I keep getting an `undefined` value despite having access to the value from within the function.

My code:

[code]

If I console out the token in the above function it's clearly there.

But when I try to use the above function elsewhere like so:

`let token = fetchToken()` I get an undefine

[2017-01-30 03:44] jasonmerino commented on #25
@jaredtibs looks like the problem you are having is because you need to return the promise itself from your `fetchToken` function. The `store` returns a promise from all of its functions, so in order to get the returned `token` from your `then` clause as the result of your `fetchToken` function you would need to return the initial promise that the `store.get` call returns.

That would look somethi

[2017-01-30 04:33] jaredtibs commented on #25
Hey @jasonmerino,

Really appreciate the swift reply here.

Unfortunately, I'm still having problems getting the value in a usable variable.

I have this exact function which will output the user's token:

[code]

Here's the full function calling it:

[code]

I'm relatively new to react-native so I appreciate the patience with this.

[2017-01-31 04:57] jaredtibs commented on #25
@jasonmerino got another question on this if you have a moment.

I'm trying to set the token in a variable to be used in a request. The issue I'm still running into is that by the time I make the request it hasn't been set yet. I can see that by putting a console log immediately after the call to fetchToken(). It's still undefined.  Is there a way for me to wait until that is set before proceeding

[2017-02-14 23:47] jasonmerino commented on #25
@jaredtibs my apologies for the late reply here.

In your example code you posted, if you are going to get the value of the token you need to move your `console.log(token)` inside the callback function you pass the `.then()`.

[code]

Or! If you wanted to get really fancy with async/await you could do this.

[code]

[2017-02-15 00:31] jaredtibs commented on #25
@jasonmerino very cool. Thanks again for the help.

[2017-02-15 00:32] jasonmerino commented on #25
No problem!

[2017-02-15 00:32] #25 closed

[2017-03-27 10:35] cxy200927099 commented on #19
I also get this error
store.get(key) return the JSON.parse(value); the error is in here

reproduction:
1.Install android release app, native version is 1.0.0, then do something ensure to use Store.save(key, value);
2.modified the native version to 1.0.1, Install the new version app(ensure that do not uninstall the app before install new version),then open app will receive the error log

i think th

[2017-03-29 23:58] jasonmerino commented on #19
@cxy200927099 this makes sense that you would get a crash when changing over from AsyncStorage to react native simple store because of that reason you stated (the simple store JSON.stringifies everything where you previously were just passing a string value to `setItem`).

Unfortunately, I'm not sure of a good way around this and because of the simple store's simplicity it doesn't have any functio

[2017-04-04 09:37] needdoneapp opened #27 "Clear the store"

[2017-04-05 02:22] cxy200927099 commented on #19
@jasonmerino thank reply,yes i have update my app version for using simple store.

[2017-05-02 15:11] ChrisPikul510 commented on #27
+1 on this. Anyway to clear the whole store?

[2017-05-03 12:11] ChrisPikul510 commented on #27
Actually you can do this pretty easily...
[code]

[2017-05-04 15:02] jasonmerino commented on #27
@ChrisPikul510 Looks like you found a pretty good way to do that. Looking through the code it seems that `.get` and `.save` take an array as well to update multiple keys. It would probably be nice to be able to pass an array to `.delete` in order to delete multiple keys. That way you could just do something like.

[code]

I'll work on adding that in soon.

[2017-05-04 15:26] jasonmerino commented on #27
#28 should accomplish this.

[2017-05-05 15:10] jasonmerino commented on #27
@ChrisPikul510 @needdoneapp this has been released with #28, tagged and released as v1.2.0 to NPM.

[2017-05-05 15:10] #27 closed

[2017-06-03 19:41] DZuz14 commented on #21
Yup this would still be dope salad, as I was having some trouble figuring out how to update arrays of data! This solution worked though. Thanks for the very easy to use tool.

[2017-06-05 16:49] jasonmerino commented on #21
@kevando @DZuz14 Is this what you would expect from a push method? #29

If the value for the given key is `null` (not defined in the simple store yet) it will create an array with what you passed it as the value at index 0.

If the value for the given key is an array it will do a push onto that array and persist it to the store.

If the value for the given key is neither an array or `null` it will

[2017-06-05 19:24] DZuz14 commented on #21
Let's say I wanted to create an array with key, "userBios", that stores user profile information via objects.  For ease of problem solving, let's pretend that under that current key of 'userBios', no array currently exists. According to this criteria, I would then go about creating this like so via your module:
[code]

Imagine that the save went through successfully, and we now have an array with

[2017-06-06 18:16] DZuz14 commented on #21
Any thoughts? @jasonmerino

[2017-06-06 18:42] jasonmerino commented on #21
Yeah, that's pretty much the gist of it. If you use `.save` to store an array value for a given key you can then go back and push a new record onto that array with `.push` and it would just do an [Array.push](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/push) to the stored array.

Although now that I'm looking at the MDN docs it seems like I may also want

[2017-06-07 15:17] jasonmerino commented on #21
This feature is available in version 1.3.0.

[2017-06-07 15:17] #21 closed

[2017-06-07 15:23] DZuz14 commented on #21
Epic. Very nice work. This is by far the easiest module to use out there.

[2017-06-07 15:27] DZuz14 opened #30 "Make docs easier to read"
Docs are helpful, but should be split up into different sections, instead of one big promise. I can help out with a pull request for that if needed.

[2017-06-07 15:46] jasonmerino commented on #30
That would be really cool. There is an [API reference here](https://github.com/jasonmerino/react-native-simple-store/blob/master/docs/index.md) which are split out by function and generated with every new `npm version`, but I would like some more clarity in the [Example Usage](https://github.com/jasonmerino/react-native-simple-store#example-usage) section of the main README. Since it's purpose is

[2017-06-07 15:47] DZuz14 commented on #30
Dope salad. Will do. Hopefully get something whipped up over the weekend. Thanks for the new push feature.

[2017-06-14 13:55] DZuz14 commented on #30
I am still going to get on this. I actually had an interview yesterday that I have been studying the whole past week for, so had to put this on hold. However, I do have a new issue I am going to post here in a few minutes that I could use some help with.

Understanding that issue will make the docs more complete, as I am unsure how a few things still work.

[2017-06-14 14:21] DZuz14 opened #31 "Removing object from array"
Not sure if this can be made easier via your module, or if I need to rethink the structure of how I am storing my data, but here is the problem I am having.

A portion of my app allows users to schedule alarms. When they schedule an alarm, it creates an object inside of a currently existing array with key of 'alarms'. Just for an example, let's pretend "alarms" is an empty array right now, and my

[2017-06-14 15:18] jasonmerino commented on #31
There isn't a built in way to do this right now, but we might be able to work up some new function for the API.

For the time being here's what you could do to update your local state and the simple store value for the alarms key.

[code]

Now regarding any changes in the library here, it might be nice to implement an [Array.splice](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference

[2017-06-14 15:19] jasonmerino opened #32 "Create Array.prototype.splice method for array values stored in the simple store"
Use the [Array.prototype.splice](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/splice?v=control) method to update array values in the simple store.

[2017-06-14 16:42] DZuz14 commented on #31
Thanks for the reply. I agree on the splice idea, that would be pretty cool.

[2017-06-14 16:42] #31 closed

[2017-06-26 22:35] luisserota opened #34 "this.props becomes undefined"
Hi!

First of all, great library! It's fantastic and I'm making some pretty heavy use of it.

One issue I thought I'd report. Unless I'm completely mistaken, after calling store.get('X'), the props property of this, this.props, becomes undefined. For the life of me I can't figure out why.

My current implementation looks something like this

[code]

Perhaps this has something to do with `this` whi

[2017-06-27 14:55] jasonmerino commented on #34
Hey @luisserota ,

Glad you are enjoying using it. Regarding your loss of context it looks like you are not using an arrow function in your example `.then` function. Since that is the case you are losing the parent context. If you change it to use an arrow function like this it should fix that issue.

[code]

On another note, if you use async/await you could get around this altogether because you

[2017-06-27 15:22] jasonmerino commented on #30
Resolved by #33

[2017-06-27 15:22] #30 closed

[2017-06-27 15:57] DZuz14 commented on #30
Yoooo. I have no idea how to fix those formatting issues. So annoying. I tried deleting them and changing the tab spaces, and nothing. Any suggestions?

[2017-06-29 14:31] luisserota commented on #34
Hey Jason,

Thanks for the really thorough response! You're absolutely right, nothing at all wrong with your lib, moreso my obliviousness to the implementation of context in JS/React.

Thanks again!

[2017-06-29 14:50] jasonmerino commented on #34
@luisserota No worries man. :) Context can get a little tricky in JS, especially in callback functions and classes.

Glad you were able to get that all resolved.

[2017-06-29 14:50] #34 closed

[2017-06-29 15:03] jasonmerino commented on #30
Mmmm, I'm not sure why it wouldn't let you. Might be something having to do with the editor you're using. I just pulled it up on my machine and used VSCode's "Convert Indentation to Tabs" option and it seemed to work.

[2017-08-02 18:39] logileifs opened #36 "Arrays not working"
I've been following the examples and pushing objects into an array with simple-store but when I try to retrieve from it again I only get the last value pushed. It seems like either the get function only returns the last item or the push function overrides the array

[2017-08-02 18:41] jasonmerino commented on #36
@logileifs can you post a code example to show what you're seeing?

[2017-08-02 18:42] logileifs commented on #36
[code]

[2017-08-03 11:27] logileifs commented on #36
I figured out I can push a whole array like this:
[code]
And then I can successfully push items into it with:
[code]
The only problem is that when I retrieve the array later using:
[code]
I get a doubly nested array like this:
[code]
That's a behavior that is easier to work with since I can flatten the array every time I retrieve it but still not the expected/desired behavior.

[2017-08-22 12:05] y2k-shubham opened #37 "store.save(key, value) stopped working"
- All of a sudden, store.save(key, value) has broken down.
- It was functioning properly (verified by store.get(key)) until I (once) executed store.delete(key)

---

- While I can verify that data is being saved by invoking store.get(key) immediately after store.save(key, value), the data won't persist after re-launching the app (in fact I'm not sure after how long the data vanishes)
- Furthermore

[2017-08-23 12:47] uneco185 opened #38 "I want to delete an object in an array"
Nice to meet you.
I am not good at English, so the sentences may be strange. I'm sorry.

I am creating a todo application for ios with react-native.
In order to store data in local storage, I would like to configure the store as follows. ↓

[code]

"Index" and "item" are keys used in `push` and` delete`.
"Item" is a random string.

I execute `delete(index)` when deleting all tasks. Since all task

[2017-08-30 23:10] jasonmerino commented on #37
@y2k-shubham thanks for the replication steps and reporting this issue. Can you post some code that you are seeing this issue with? It can be the different pieces of your code as it sounds like the bug is happening after some time.

Thanks!

[2017-09-04 01:26] jeffbonasso opened #40 "Couldn't read row 0, col 0 from Cursor Window."
I am getting the error Can't read row 0, col 0 from Cursor Window. Doing a little research it seems like there may be a limitation of 2MB for sqllite. My assumption are you are using sqllite in this implementation. Not sure how you are using it, but wondering if anyone has come across and if there is a workaround. I am saving some large JSON chunks using this library. The error is only occurring o

[2017-10-11 11:26] BigPun86 commented on #38
+1

[2017-11-22 07:11] ciaranschutte opened #42 "Update or Create function"
Would a update or create function call be of use?
For instance if I want to update an item if it exists already, else create it.

[2017-11-29 04:09] ProteanDev commented on #36
I think this really might be an issue as I'm also not getting all the values I pushed
<img width="621" alt="screen shot 2017-11-29 at 12 07 47 pm" src="https://user-images.githubusercontent.com/6328775/33357618-2143179a-d4fe-11e7-905a-a3087be40bbc.png">

[2017-11-29 04:15] ProteanDev commented on #42
I'd do something like this, and yes I tested this works:

[code]

[2017-12-05 00:54] jasonmerino commented on #36
I'm unable to reproduce with `react-native@0.50.3` and `react@16.0.0`. Here's the piece of code I'm testing with. Can either of you @ProteanDev @logileifs run this code and see if you get the output below?

[code]

Output

[code]

[2017-12-05 01:00] jasonmerino commented on #40
@jeffbonasso I am calling directly into React Native's `AsyncStorage`. There's no optimizations that this library does to data before saving it. It could very well be that you are hitting a SQLite limitation because according to the RN docs it looks like that may be where `AsyncStorage` saves data.

From what I can tell there's not a lot I could do to change this for you. Going to close this out.

[2017-12-05 01:00] #40 closed

[2017-12-06 00:29] jasonmerino commented on #37
Going to close this issue due to lack of activity. @y2k-shubham if this is still an issue for you comment back and we can reopen it and do some more diagnosing.

[2017-12-06 00:29] #37 closed

[2017-12-08 00:50] jasonmerino commented on #38
@uneco185 in order to delete a specific task in an array you would need to get the array from the simple store, get the index of that item in the array and then use Array's [.splice](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/splice) function to adjust the array and then save it back to the store. That would look something like this:

[code]

I have an i

[2017-12-08 00:54] jasonmerino commented on #42
@ciaranschutte so you are wondering about adding functionality to the `.update` function which will create whatever value you pass to it if there is no value already stored for the given key? I could see adding this in for that function to make it match the `.push` function's functionality a bit more.

[2017-12-11 07:10] uneco185 commented on #38
Hello.
Thank you for your reply.

A few weeks after I wrote this issue, this problem was solved.
However, as it was a few months ago, I do not remember how to solve the problem... I'm sorry.

TodoApp has been successfully completed and it works without problems. ↓
https://expo.io/@uneco/TodoApp

I am pleased that you kindly reply.
Thank you very much.

[2017-12-11 07:10] #38 closed

[2018-01-05 00:16] maryammouse opened #43 "How to check the existence of a value in storage?"
If I simply want to check if an object exists in the store, how do I do that? All I see are `get` and `create` methods that already factor in the existence of an object.

My specific use case is that if the object doesn't exist, I want to create it with certain values (default values) -- otherwise I want to leave it alone.

[2018-01-09 16:46] aelallam commented on #43
I can see this in the example codes:
[code]
You can use it to do your thing.

[2018-01-09 16:52] aelallam opened #44 "Get all keys"
AsyncStorage has a method `getAllKeys`, how can I use it via simple-store?

[2018-01-09 19:07] aelallam commented on #44
Referenced in API!

[2018-01-09 19:07] #44 closed

[2018-01-13 16:51] MrFoxPro opened #45 "Await/Async"
Can i use this library with async/await words?

[2018-01-13 19:38] MrFoxPro opened #46 "Store.get() no callback"
I dont know why but sometimes Store.get(key) just freezes.

[2018-01-16 19:04] emstans commented on #46
I've been running into this as well. I dug into it a little and it looks like an issue with the _reactNative.AsyncStorage call which is being wrapped, not the react-native-simple-store module.

From the module's implementation:

`get: function get(key) {
		if (!Array.isArray(key)) {
			return _reactNative.AsyncStorage.getItem(key).then(function (value) {
				return JSON.parse(value);
			});
		} el

[2018-01-16 19:16] MrFoxPro commented on #46
@emstans Should we return null or empty object after `return _reactNative.AsyncStorage.getItem(key).then(function (value) {
				return JSON.parse(value);` ?

[2018-01-16 19:18] MrFoxPro commented on #46
@emstans Should we return null or empty object after `return _reactNative.AsyncStorage.getItem(key).then(function (value) {
				return JSON.parse(value);` ?

[2018-01-16 21:18] jasonmerino commented on #43
@maryammouse, @aelallam's answer is probably your best bet. There is also a `.keys` function you could call to check the existence of a key. You could do something like this:

[code]

This example assumes you are running this code inside an `async` function.

[2018-01-16 21:18] #43 closed

[2018-01-16 21:23] jasonmerino commented on #36
Closing due to inactivity. If anyone has any further concerns about the `.push` functionality please comment here so we can continue the conversation.

[2018-01-16 21:23] #36 closed

[2018-01-16 21:24] jasonmerino commented on #45
@MrFoxPro Yes, you can use this with async/await so long as your react native project (the babel part) setup supports that, which I think they do by default.

[2018-01-16 21:24] #45 closed

[2018-01-18 20:47] jasonmerino commented on #46
@MrFoxPro I may not be understanding your suggestion correctly, but adding a return statement after that code you pasted would not help anything as you can't have multiple returns in the same function.

Have you folks been able to reproduce this consistently? I've not ran across this behavior, but if you find a way to reproduce it I would like to help out fixing it up.

[2018-01-18 20:48] jasonmerino commented on #42
Closing due to inactivity. If anyone wants to further pursue this conversation comment here and we can open the issue back up.

[2018-01-18 20:48] #42 closed

[2018-01-19 04:22] MrFoxPro commented on #46
You were right about return statement. I think we have to dive into asyncStorage module and understand how getItem() works

[2018-01-23 17:42] jasonmerino commented on #46
@MrFoxPro @emstans Sounds like this could be an upstream issue. Going to close this for now. If you think we should open it back up comment back and we can further diagnose.

[2018-01-23 17:42] #46 closed

[2018-02-20 08:16] frenkelor commented on #46
react native issue https://github.com/facebook/react-native/issues/14101

[2018-02-20 17:12] emstans commented on #46
Awesome, thanks for the update! Glad to know it wasn't just me :)

[2018-04-04 16:31] garethiv opened #47 "Re-invoke 'store.get' after calling 'store.push'"
Hi, thanks a lot for this, it's exactly what I needed for my project.

I have one query....

After adding a new item to an array of objects, how can I force store.get to re-invoke? This would re-render my list of data to reflect the changes.

And how can I add res to state for rendering?

[code]
[code]
Thanks in advance

[2018-04-04 22:05] jasonmerino commented on #47
There's no built in way to get the current array values from `.push`. In your `saveData` function you could add a get after pushing at `setState` after that to force a re-render.

[code]

I'm not exactly sure what your aim is with the `onLoad` function, but you could `setState` values from `array` in that function as well to force a re-render.

[code]

Or, if you wanted to combine those functions

[2018-04-05 10:12] garethiv commented on #47
Great, thanks a lot for your help.

[2018-04-05 10:12] #47 closed

[2018-04-11 02:30] shiroze commented on #27
for someone who meet this issue try use AsyncStorage.clear()
up to you what version you want to try use

[2018-04-11 02:33] shiroze opened #48 "store.delete delete by ID"
if I have key array struktur like this

`'Bookmark' = {[
         ID : 1,
         isBooked: true
],[
         ID : 3,
         isBooked: true
]}`

I want delete / remove ID : 1, how to do it ?

[2018-04-13 11:48] garethiv opened #49 "Updating property of object within stored array"
I have written the below function to update the property of a supplied object stored in an array. To do so, I used the method mentioned in https://github.com/jasonmerino/react-native-simple-store/issues/31 for deleting items.

I wanted to check if this is this the most efficient method for updating properties of objects?

[code]

[2018-04-17 09:41] garethiv commented on #49
For others reference, I used the below method:

[code]

[2018-04-26 23:34] jasonmerino commented on #48
Assuming you had a structure like this:

[code]

And that was stored in simple store you would do something like this to delete it and save it back to simple store.

[code]

[2018-04-26 23:34] #48 closed

[2018-05-03 06:31] haozi5460 opened #50 "Sometime the keys and value in the store all dispeared"
The issue happened on android, when I open the splash page ,it will judge it has logined or not from the key-value from store,
But, if the Rn-app error or debug-onReload, the keys and values in store all disppeared .  I don't know why.

I use "store.get('access_token')); store.keys()"  to  get the promise,and I found the issue.
![error](https://user-images.githubusercontent.com/8199381/39562515-a2

[2018-05-03 19:38] jasonmerino commented on #50
@haozi5460 thanks for reporting this issue. Can you create a simple test case that reproduces the issue? Thanks!

[2018-07-12 12:34] MarkBlythe opened #51 "Unable to push to array using a loop."
I have an array of purchased item keys that I store using this module. Saving one at a time (when the purchase is made) works perfectly with `store.push` however I now need to be able to store more than one value at a time in the array.

To do this I assumed it would be possible to use a for loop and just call `store.push` inside.

However this is not the case and it only seems to store the final

[2018-07-13 20:14] nursanamar commented on #51
Try this

[code]

[2018-07-17 21:55] jasonmerino commented on #51
I would do something similar to what @nursanamar suggests, with a change to `.get` the original array if it exists and then call `.save` to update it instead of `.push` since pushing would add an array as the value of a single index in the `devicePurchasedKeys` array. This would probably be the simplest way to do it.

[code]

If you were looking for another way around this you could implement an [

[2018-07-17 21:56] jasonmerino commented on #50
Closing this issue due to inactivity. If this is still an issue and someone can send me a reproducible test case I'd be happy to reopen this and take a look.

[2018-07-17 21:56] #50 closed

[2018-07-19 08:57] MarkBlythe commented on #51
Thanks guys, I had to use the async function @jasonmerino suggested and it worked in the end.

[2018-07-19 08:57] #51 closed

[2018-11-27 12:48] bogobogo opened #52 "Why doesn't update use AsyncStorage.mergeItem?"
Hey,

Thanks for the package, it is great.

A question: why does update gets an item to the js side, deep merges it with the provided value and saves the result, rather then use AsyncStorage.mergeItem, which handles the deepMerge on the native side, thus saving an unnecessary cross over the bridge?

If there is no reason, I can create a pull request to use mergeItem instead.

Thanks again!

[2018-11-27 17:05] jasonmerino commented on #52
I can't remember exactly, but I think the reason that I didn't go with the `mergeItem` function is because of [the note here](https://facebook.github.io/react-native/docs/asyncstorage#mergeitem).

I couldn't find any further documentation on how to check if `mergeItem` is supported on any given platform so I just went with the lodash.merge option.

[2018-12-18 17:12] jasonmerino commented on #52
I'm going to close this issue for now. If you want to continue chatting about this change feel free to leave another comment here.

[2018-12-18 17:12] #52 closed

[2018-12-28 00:13] sweetcoco opened #53 "updating an object of objects creates duplicate keys"
lets say the store has "favoriteAlbums"

[code]

Paradoxically, if you do this, you'll end up with a duplicate key in your `favoriteAlbums` object:

[code]

Ideal functionality would be to overwrite the nested object.

[2018-12-28 02:50] sweetcoco commented on #53
uhh... nvm, i'm a huge idiot. It's not duplicating the keys.

[2018-12-28 02:50] #53 closed

[2019-04-08 20:15] #32 closed

[2019-04-10 12:15] rauwork opened #54 "Does not work with react native 0.59.4"
update my project to 0.59.4 and now fails

[2019-04-11 21:28] oas commented on #54
Yeah, I have the same problem. This is probably due to the use of `AsyncStorage`, which has recently been deprecated:

`ExceptionsManager.js:82 Warning: Async Storage has been extracted from react-native core and will be removed in a future release. It can now be installed and imported from '@react-native-community/async-storage' instead of 'react-native'. See https://github.com/react-native-commu

[2019-04-25 15:49] mikerodham commented on #54
That's because asyncstorage is no longer a part of the core react-native. This was announced in the app as a yellowbox warning. You can see [here](https://facebook.github.io/react-native/docs/asyncstorage). You may have to install [this package](https://github.com/react-native-community/react-native-async-storage) to get it working.

[2019-04-25 19:11] jasonmerino commented on #54
Hey everyone.

Sorry for the delay here. This has been on my radar and it looks like the time to fix this is here. I'm pretty slammed right now, would any of you be able to put together a PR with the changes needed. From what I can see, all that's needed is to change where we import AsyncStorage from in the index file here and update/add peer dependencies in the package.json so when installing it

[2019-04-26 07:40] oas commented on #54
If no one else already started, I can make the necessary changes tomorrow :)

[2019-04-26 08:32] mikerodham commented on #54
I am slammed at work, may have some time over the weekend to get this looked at and sorted @oas but otherwise go ahead pal.

[2019-05-02 16:51] tomtom94 commented on #54
warning async storage has been extracted from react-native core

<img width="372" alt="Capture d’écran 2019-05-02 à 18 49 54" src="https://user-images.githubusercontent.com/262550/57092241-3901d500-6d0b-11e9-8ff1-4f81cbc7df71.png">

[2019-05-06 12:56] raulccb commented on #54
I find this package very simple and efficient. It will be perfect if they manage to 0.59.4
I even recommended it to other friends

[2019-05-06 12:57] raulccb commented on #54
I find this package very simple and efficient. It will be perfect if they manage to 0.59.4
I even recommended it to other friends

[2019-05-22 21:13] jasonmerino commented on #54
Version 2.0.0 has been released. This was resolved by #55.

[2019-05-22 21:13] #54 closed

[2019-05-28 14:24] sweebee opened #56 "AsyncStorage is null"
I get this error, i followed the instructions but its not working.

I'm using the expo client to build the app. Using AsyncStorage itself works fine.

[2019-05-28 14:37] sweebee commented on #56
solved it, using v1.3 works.

[2019-05-28 14:37] #56 closed

[2019-06-06 14:47] maryasdk opened #57 "Unable to resolve module `@react-native-community/async-storage`"
Hi,
I just updated to react-native 0.59.8 from 0.58.
I updated as well to react-native-simple-storage from 1.3.0 to 2.0.0 to remove the warning regarding async-storage.

I am getting the following error on runtime:
Unable to resolve module `@react-native-community/async-storage` from `/Users/maryasadek/RN/Washmen/node_modules/react-native-simple-store/dist/index.js`: Module `@react-native-communit

[2019-06-06 22:53] jasonmerino commented on #57
Hey @maryasdk,

Sorry to hear you are having trouble. Did you run the command to link the new async-storage module in your project?

```react-native link @react-native-community/async-storage```

There are some installation instructions [in the README](https://github.com/jasonmerino/react-native-simple-store#installation) calling this out.

If you have run link, or run it and still have trouble, p

[2019-06-07 08:18] maryasdk commented on #57
Linking fails with the message: Failed to get dependency config.

Below is the verbose error message.
Note: that I do not use async storage in my app independently of simple-store

![image](https://user-images.githubusercontent.com/31656696/59090596-dc9b6200-8915-11e9-9fc0-f58002c9059f.png)

[2019-06-10 18:33] younes200 opened #58 "TypeError: Cannot read property 'cache' of undefined"
I updated  react-native-simple-storage from 1.3.0 to 2.0.0 to remove the warning regarding async-storage.
But it fails with :
[code]
After removing this line https://github.com/jasonmerino/react-native-simple-store/blob/fe17187e811572fa2a1645ae084747e58360f4e6/babel.config.js#L2
it works fine.

A [PR](https://github.com/jasonmerino/react-native-simple-store/pull/59) is available it makes sens to y

[2019-06-12 08:42] duzliang commented on #57
@maryasdk you should install the `@react-native-community/async-storage` before link
when I install the `@react-native-community/async-storage`, it's works to me

[2019-06-12 11:35] maryasdk commented on #57
@duzliang I did not try to do so. I thought that it should be downloaded by the simple-store library since it is a dependency of the library itself. I guess I'll do it ur way, if there isnt an update to fix the issue soon. Thanks

[2019-06-13 15:06] jasonmerino commented on #57
It looks like `@react-native-community/async-storage` was only added as a devDependency. :/

I'll look into adding that as a normal dependency and see if I can add in the linking step as a `postinstall` script so that part of the setup isn't needed anymore.

[2019-06-14 09:18] maryasdk commented on #57
Okay thanks @jasonmerino waiting for your update

[2019-06-15 10:37] ioanungurean opened #60 "Not working with expo-cli"
Hello,

I really like this package and this might be a non-issue but I was wondering if there is a way to use this package with the `expo-cli`. I followed all the steps but when I try `react-native link @react-native-community/async-storage` it throws an error which is perfectly normal.

Is there another way to use this package with `expo-cli`?

If I don't link it then I have this error: `Unable t

[2019-06-15 11:12] ioanungurean commented on #60
Found a fix for this. If someone wants to use this package with `expo-cli` you need to use the `v1.3.0` where `AsyncStorage` is imported like this: `import { AsyncStorage } from 'react-native'`.

The new import statement that is currently used in `v2.0.0` (`import AsyncStorage from '@react-native-community/async-storage'`) will work only when `expo-cli` will link the package and this will happen p

[2019-07-03 13:37] skantus opened #61 "Outdated bookstore"
It would be nice to create a new tag with the latest changes since it is quite outdated from the main branch.

## Last tag _7 jun 2017_

![2019-07-03_1534](https://user-images.githubusercontent.com/4986411/60595982-52290f80-9da8-11e9-86d0-99fc2d50d3cb.png)

Thanks for help with this plugin.

@jasonmerino @oas

[2019-07-04 08:45] QShengW opened #62 "What is it?"
Unhandled JS Exception: TypeError: TypeError: (0 , _reactNativeSimpleStore.default) is not a function

[2019-07-29 21:12] #57 closed

[2019-07-30 15:42] jasonmerino commented on #62
I'm not sure what your question is. Could you provide a little more context about the problem you're having?

[2019-07-30 16:21] jasonmerino commented on #61
I just pushed all the most recent tags I have on this machine. Seems like I'm missing v2.0.0 but I've switched machines recently, so I think that one may be gone as far as this git repo knows. 😏

[2019-07-30 16:21] #61 closed

[2019-08-02 15:20] joelfsreis commented on #58
Hi, I am having this issue as well... Removing the line `api.cache(true)` make it work again. Will this be fixed soon? Cheers!

[2019-09-18 21:40] jasonmerino commented on #62
I'm going to close this since it's been inactive for a while. If this is still an issue for you and you would like to provide more detail, please open another issue.

[2019-09-18 21:40] #62 closed

[2019-09-18 21:57] jasonmerino commented on #60
Thanks for the research and updates here @ioanungurean! I'm going to close this issue. People will still be able to find it if they search for this issue.

[2019-09-18 21:57] #60 closed

[2020-01-17 07:16] youngjuning opened #66 "支持 @react-native-community/async-storage@2.0.0"

[2020-03-23 22:29] #66 closed

[2020-04-14 19:18] #58 closed

[2020-08-22 18:34] afilp opened #68 "react-native-web support"
Can you support `react-native-web`?

The library could detect if the platform is `web` and then implement the same methods with `localStorage` instead.

What do you think?

As of now, any `react-native-web` project fails because the `asyncStorage` is not well supported there.

See this thread:
https://github.com/react-native-community/async-storage/issues/52

[2020-08-31 15:00] jasonmerino commented on #68
That's an interesting idea. I have not used `react-native-web` before. I'll check into it and get back about what the possibilities here could be.

[2020-09-26 18:11] jasonmerino commented on #68
I've been hoping to look at this, but I'm pretty slammed right now. I would love to take a look at any pull request for this feature.

[2021-07-16 15:25] Rhys-Woolcott opened #78 "Update with typescript"
This is annoying to use with typescript as it does not contain any typescript definitions or types. This would be appreciated as typescript is becoming more popular.

[2021-11-11 20:51] sdebacker commented on #60
The dependency should be changed to @react-native-async-storage/async-storage